html {
  font-family: Verdana, sans-serif;
}

 body {
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 20px;
   font-size: 1.1em;
 }

nav {
  background-color: #8D90A1;
  padding: 5px;
}

header {
  width: 100%;
}
section {
  color: #999999;
  background-color: #EEF0F3;
  padding-top: 10px;
}

div {
  display: inline-block;
  vertical-align: middle;
}

footer {
  text-align: center;
  background-color: rgb(238,240,243);
}

hr {
  background-color: rgb(238,240,243);
}

#title {
  font-weight: bold;
}

#letter {
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 1px;
  width: 24px;
  font-weight: bold;
}

#triangle {
    padding-left: 2px;
    width: 14px;
    height: 14px;
}

.black_text {
  color: #000000;
}

.gray_text {
  color: 999999;
  font-size: 0.75em;
}

.align_td {
  vertical-align: top;
  display: inline-block;
  float: right;
  padding-left: 0px;
}

#login {
  float: right;
}

.divider {
  color: #ffffff;
}

sub {
  vertical-align: top;
}
