html {
  font-family: Verdana, sans-serif;
}

 body {
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 20px;
   font-size: 1.1em;
 }

nav {
  /*  height: 50px; */
  background-color: #8D90A1;
  padding: 10px;
  /* display: inline; */
}

header {
  width: 100%;
}
section {
  color: #999999;
  background-color: #EEF0F3;
}

/* Includes title "Iron News" */
#nav_title {
  font-weight: bold;
  font-size: 1.2em;
}

/* Capital letter "I" */
#nav_letter {
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  width: 25px;
  font-weight: bold;
}

#triangle {
    /* padding-right: 2px; */
    width: 14px;
    height: 14px;
}

.black_text {
  color: #000000;
}

.gray_text {
  color: 999999;
  font-size: 0.80em;
}

.align_triangle_img {
  vertical-align: top;
}
/* Includes navigation links */
/* #nav_links {

} */

/* Includes login only */
#nav_login {
  /* float: right; */
}

.nav_divider {
  color: #ffffff;
}

/* ol {
  margin: 0px;
 background-color: #EEF0F3;
} */

/* .nav_login {
  float: right;
} */

nav {
/*  display: inline-block; */
}
