html {
  font-family: Verdana, sans-serif;
}

 body {
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 20px;
   font-size: 1.1em;
 }

nav {
  /*  height: 50px; */
  background-color: #8D90A1;
  padding: 10px;
  /* display: inline; */
}

header {
  width: 100%;
}
section {
  color: #999999;
  background-color: #EEF0F3;
}

div {
  display: inline-block;
  vertical-align: middle;
}
/* Includes title "Iron News" */
#title {
  font-weight: bold;
}

/* Capital letter "I" */
#letter {
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  width: 25px;
  font-weight: bold;
}

#triangle {
    padding-left: 2px;
    width: 14px;
    height: 14px;
}

.black_text {
  color: #000000;
}

.gray_text {
  color: 999999;
  font-size: 0.80em;
}

.align_triangle_img {
  vertical-align: top;
}

/* Includes login only */
#login {
  float: right;
}

.divider {
  color: #ffffff;
}
